In [3]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share your notebook.
client_f8862bcefb5143cf9abaf491477297e9 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='VbULeHC78LzRkMQ7PymbPe2Dt4limAwdQQxHgfz1d7OP',
    ibm_auth_endpoint="https://iam.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_f8862bcefb5143cf9abaf491477297e9.get_object(Bucket='ml1-donotdelete-pr-5s91dk6whafhmu',Key='health1.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

health = pd.read_csv(body)
health.head()

,Name,City,State,Capacity,Food_stored_in_kg,Water_in_l,Medical_staff_present,Nearest_Hospital_miles,No_of_Backup_Gens,Avg_Expiry_of_Meds_in_months
0,A,NYC,NY,25000,275000,50000,150,0.5,0,6
1,A1,Dallas,TX,10000,120000,25000,200,0.3,1,6
2,A2,Syracuse,NY,15000,170000,30000,125,1.0,0,7
3,A3,Austin,TX,20000,215000,35000,125,1.0,1,8
4,A4,Houston,TX,12000,125000,25000,150,1.5,2,8

In [4]:
health.tail()
health.describe()

,Capacity,Food_stored_in_kg,Water_in_l,Medical_staff_present,Nearest_Hospital_miles,No_of_Backup_Gens,Avg_Expiry_of_Meds_in_months
count,129.000000,129.000000,129.000000,129.000000,129.000000,129.000000,129.000000
mean,19751.937984,215038.759690,38333.333333,145.736434,0.761240,1.193798,8.069767
std,5976.557077,60626.598317,11737.582091,33.483326,0.398299,0.952608,1.981106
min,10000.000000,115000.000000,19000.000000,100.000000,0.100000,0.000000,5.000000
25%,15000.000000,160000.000000,28000.000000,120.000000,0.500000,0.000000,6.000000
50%,20000.000000,220000.000000,38000.000000,150.000000,0.600000,1.000000,8.000000
75%,25000.000000,260000.000000,48000.000000,175.000000,1.000000,2.000000,9.000000
max,32000.000000,350000.000000,65000.000000,225.000000,1.500000,3.000000,12.000000

In [7]:
#Features
X = health[['Capacity', 'Medical_staff_present', 'No_of_Backup_Gens', 'Nearest_Hospital_miles', 'Avg_Expiry_of_Meds_in_months']]

In [8]:
y = health['Food_stored_in_kg ']

In [9]:
y1 = health['Water_in_l ']

In [10]:
#Training model
from sklearn.model_selection import train_test_split

In [11]:
#Training Testing split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 7)

In [12]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(X, y1, test_size = 0.3, random_state = 7)

In [13]:
#Model
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)
prediction = model.predict(X_test)

In [14]:
model2 = LinearRegression()
model2.fit(X_train2, y_train2)
prediction2 = model2.predict(X_test2)

In [15]:
#Evaluation
from sklearn import metrics
import numpy as np
print('Predicted Food Stored', prediction)

Predicted Food Stored [ 266327.93655474  315568.76446628  168984.54778829  227805.24972041
  139179.49003525  266921.42306791  315145.65696338  267585.57699091
  147652.90433092  148875.52855363  197992.01075386  267497.6332144
  217886.95785653  197179.39402552  136737.91395166  264764.64006289
  228829.28723207  267430.21992149  317419.52670745  196673.76553745
  217537.55514238  218529.69957092  318415.70820599  196053.8087325
  315030.37419059  166996.30761263  215082.37505395  314941.04469274
  315875.83845796  167966.95408114  217599.54564395  218019.01299968
  316200.57484657  315605.19861574  136993.95009794  268717.0890716
  166021.43955078  196586.32575726  137402.06787466]

In [21]:
MSE = metrics.mean_squared_error(y_test, prediction)
RMSE = np.sqrt(MSE)
print('Error', RMSE)

Error 8645.97036271

In [19]:
print('Predicted Water in l', prediction2)

Predicted Water in l [ 49155.0546477   60221.97824636  28810.70151817  39934.851199
  22373.50531432  49263.65071252  59089.99001822  48989.23596976
  26025.08923355  24877.97340702  34152.92184619  50450.09816927
  39488.25091126  34440.94134867  23402.18214357  49607.65228228
  41944.34088054  48629.63275477  60327.77073696  35612.78560294
  39053.30215649  38420.24245178  58266.14110473  33704.61043479
  60717.66933843  28764.0883365   39894.27555387  59906.99132752
  58364.50047955  30078.73743367  40030.79728809  38586.10131943
  60209.33173968  59632.57658476  24455.02281495  48765.15604623
  28319.29664927  35270.26668214  23127.76740081]

In [22]:
MSE2 = metrics.mean_squared_error(y_test2, prediction2)
RMSE2 = np.sqrt(MSE2)
print('Error', RMSE2)

Error 3086.95744374